<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Encoding" value="gzip" />
            </customHeaders>
        </httpProtocol>
      
        <!--<staticContent>
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
        </staticContent>-->
      
    </system.webServer>
</configuration>
