@{
    ViewBag.Title = "Forums";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowForumTopNav = true;
}

<div class="center-column">
    <div class="content-frame mt20">
        
        <div class="text-center mb20">
            <a href="/forums">Latest</a> <span class="light pl10 pr10">|</span> <a href="/forums/popular">Popular</a> <span class="light pl10 pr10">|</span> <b>Browse</b>
        </div>

        <div data-bind="template: { name: GetStructureTemplateName }"></div>
    </div>
</div>

@Html.Partial("_tmplForumHomeStructureDesktop")
@Html.Partial("_tmplForumHomeStructurePhone")

@section scripts
{
    @Scripts.Render("~/bundles/forums/index")
}