<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;database=LBV6;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LB.EnablePhotoOrphanDeletions" value="false" />
    <add key="TargetDatabaseName" value="LBV6" />
    <add key="GalleryPhotosRoot" value="\\deathstar\Files\LB\Media\1600" />
    <add key="AWS.SES.AccessKeyId" value="" />
    <add key="AWS.SES.SecretAccessKey" value="/" />
    <add key="ApplicationInsights.InstrumentationKey" value="" />
    <add key="Azure.Storage.ConnectionString" value="" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="Facebook.AppId" value="" />
    <add key="Facebook.Secret" value="" />
    <add key="Google.ClientId" value="" />
    <add key="Google.ClientSecret" value="" />
    <add key="LB.DebugEmailAddress" value="jay@londonbikers.com" />
    <add key="LB.DebugEmailDelivery" value="true" />
    <add key="LB.DefaultPageSize" value="25" />
    <add key="LB.Description" value="The biggest and best community for bikers in and around London. Established in 2005 to connect riders so they can go on rideouts, trackdays, road-trips or find out if that bolt that fell off was really needed or not." />
    <add key="LB.Domain" value="localhost" />
    <add key="LB.EmailDeliveryEnabled" value="true" />
    <add key="LB.EmailMediaUrl" value="https://beta.londonbikers.com:444" />
    <add key="LB.EnableCaching" value="true" />
    <add key="LB.EnableIndexing" value="true" />
    <add key="LB.EnableLessStrictUsernameValidation" value="true" />
    <add key="LB.EnablePhotoUploadOverlay" value="true" />
    <add key="LB.EnablePhotoUploads" value="true" />
    <add key="LB.EnableRegistrationForumSpamCheck" value="true" />
    <add key="LB.GalleriesMediaUrl" value="https://beta.londonbikers.com:444/_gmedia" />
    <add key="LB.Intercom.MaxHeaderUserCount" value="50" />
    <add key="LB.MediaRoot" value="C:\Filestores\LBV6-Media" />
    <add key="LB.MinimumProfileCoverPhotoDimensions" value="1200x300" />
    <add key="LB.PasswordPolicyText" value="Passwords must be at least 8 characters. Passwords must have at least one digit ('0'-'9')." />
    <add key="LB.ProductName" value="LONDONBIKERS" />
    <add key="LB.ProhibitedUsernames" value="admin,contact,about,rules,change,account,forums,forum,londonbikers,users,profiles,shop,store" />
    <add key="LB.RecentTopicsIndexSize" value="2500" />
    <add key="LB.TopicViewBufferSize" value="50" />
    <add key="LB.Url" value="https://localhost" />
    <add key="LB.Usernames.MaxLength" value="20" />
    <add key="LB.Usernames.MinLength" value="3" />
    <add key="LB.V6GoLiveDate" value="27 April 2015 17:37:00" />
    <add key="OVH.OpenStack.CoverFileContainer" value="Covers" />
    <add key="OVH.OpenStack.FileContainer" value="Primary" />
    <add key="OVH.OpenStack.Password" value="" />
    <add key="OVH.OpenStack.ProfilesContainer" value="Profiles" />
    <add key="OVH.OpenStack.ProjectName" value="" />
    <add key="OVH.OpenStack.ProjectRegion" value="" />
    <add key="OVH.OpenStack.Username" value="" />
    <add key="Twitter.Username" value="@londonbikers" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="log4net.Internal.Debug" value="false" />
    <add key="webpages:Enabled" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.20.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>