<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LB.EnableRegistrationForumSpamCheck" value="true" />
    <add key="LB.EnableLessStrictUsernameValidation" value="true" />
    <add key="LB.EnableCaching" value="true" />
    <add key="LB.EnablePhotoUploads" value="true" />
    <add key="LB.Url" value="https://localhost" />
    <add key="LB.Domain" value="localhost" />
    <add key="LB.EmailDeliveryEnabled" value="true" />
    <add key="LB.EmailMediaUrl" value="https://beta.londonbikers.com:444" />
    <add key="LB.GalleriesMediaUrl" value="https://beta.londonbikers.com:444/_gmedia" />
    <add key="LB.DebugEmailDelivery" value="true" />
    <add key="LB.DebugEmailAddress" value="jay@londonbikers.com" />
    <add key="LB.V6GoLiveDate" value="27 April 2015 17:37:00" />
    <add key="LB.ProhibitedUsernames" value="admin,contact,about,rules,change,account,forums,forum,londonbikers,users,profiles,shop,store" />
    <add key="LB.MediaRoot" value="D:\Media Stores\LBV6" />
    <add key="AWS.SES.AccessKeyId" value="" />
    <add key="AWS.SES.SecretAccessKey" value="/" />
    <add key="Facebook.AppId" value="" />
    <add key="Facebook.Secret" value="" />
    <add key="Google.ClientId" value="" />
    <add key="Google.ClientSecret" value="" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
