<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
    <connectionString value="data source=(local);database=LBV6_beta;Trusted_Connection=True;" xdt:Transform="Replace" />
  </appender>
</log4net>