<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=(local);database=LBV6_production;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="ApplicationInsights.InstrumentationKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Azure.Storage.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LB.Url" value="https://londonbikers.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LB.EnablePhotoUploads" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
    <add key="LB.Domain" value="londonbikers.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LB.DebugEmailDelivery" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LB.EmailMediaUrl" value="https://londonbikers.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LB.GalleriesMediaUrl" value="https://londonbikers.com/_gmedia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LB.MediaRoot" value="C:\Filestores\Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LB.IsProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OVH.OpenStack.Username" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OVH.OpenStack.Password" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OVH.OpenStack.ProjectName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OVH.OpenStack.ProjectRegion" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OVH.OpenStack.FileContainer" value="Primary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <resizer>
    <plugins>
      <add name="LBV6.OpenStackObjectStoragePlugin" OpenStackUsername="" OpenStackPassword="" OpenStackProjectName="" OpenStackRegion="" OpenStackContainer="Primary" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </plugins>
  </resizer>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'self'; script-src londonbikers.com:443 *.iubenda.com code.jquery.com *.msecnd.net cdnjs.cloudflare.com cse.google.com www.google.com clients1.google.com www.googleapis.com:443 platform.instagram.com:443 unpkg.com 'unsafe-inline' 'unsafe-eval'; frame-src *; img-src * data:; media-src *; style-src londonbikers.com:443 *.iubenda.com cse.google.com www.google.com 'unsafe-inline'; connect-src londonbikers.com:443 *.visualstudio.com; report-uri https://report-uri.io/report/lb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
</configuration>