@{
    ViewBag.Title = "Confirmation link sent";
    ViewBag.ShowAuthControls = false;
}

<div class="center-column">
    <div class="content-frame mt20">
        <h2>@ViewBag.Title</h2>
        <div class="mt10">
            Link sent! Please check your e-mail for instructions on how to confirm your e-mail address.
        </div>
    </div>
</div>