@{
    ViewBag.Title = "Forgot password confirmation";
    ViewBag.ShowAuthControls = false;
}
<div class="center-column">
    <div class="content-frame mt20">
        <h2>@ViewBag.Title</h2>
        <div class="mt10">
            Please check your e-mail for information on how to reset your password.
        </div>
    </div>
</div>