@{
    ViewBag.Title = "Registered!";
    ViewBag.ShowAuthControls = false;
}

<div class="center-column">
    <div class="content-frame mt20">
        <h2>@ViewBag.Title</h2>
        <div class="mt10">
            Thanks for registering! Please check your email for details on how to complete your registration.
        </div>
    </div>
</div>