@{
    ViewBag.Title = "Reset password confirmation";
    ViewBag.ShowAuthControls = false;
}

<div class="center-column">
    <div class="content-frame mt20">
        <h2>@ViewBag.Title</h2>
        <div class="mt10">
            Your password has been reset. Please @Html.ActionLink("click here to sign-in", "sign-in", "account", null, new { id = "loginLink" })
        </div>
    </div>
</div>