@{
    ViewBag.Title = "Not yet confirmed";
    ViewBag.ShowAuthControls = false;
}

<div class="center-column">
    <div class="content-frame mt20">
        <h2>@ViewBag.Title</h2>
        <div class="mt10">
            This link has expired, please try signing in and click the link again. This has been done to protect account security.
        </div>
    </div>
</div>