@{
    ViewBag.Title = "Cannot sign-in";
    ViewBag.ShowAuthControls = false;
}

<div class="center-column">
    <div class="content-frame mt20">
        <h2>Cannot Sign-in</h2>
        <hr class="compact" />
        <div class="large">
            <p>Sorry we can't sign you in. You might be suspended, or banned.</p>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/_shared")
}