@{
    ViewBag.Title = "Contact";
}

<div class="center-column">
    <div class="content-frame mt20">
        <h2 class="pb20">Contact Us</h2>
        <div>
            <p>
                E-Mail: <a href="mailto:contact@londonbikers.com">contact@@londonbikers.com</a>
            </p>
            <p>
                Twitter: <a href="https://twitter.com/londonbikers">@@londonbikers</a>
            </p>
            <p>
                Instagram: <a href="https://www.instagram.com/london.bikers">@@london.bikers</a>
            </p>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/_shared")
}
