@{
    Layout = "~/Views/Shared/_LayoutSplash.cshtml";
}

<div class="large-social-buttons text-center mt20">
    @Html.Partial("_SocialLoginButtons")
</div>

<div class="text-center mt10 small">
    <div class="splash-text-bg">
        No social? 
        <b><a href="/account/register">Register</a></b> or 
        <b><a href="/account/sign-in">Sign-in</a></b>
    </div>
</div>

<div class="text-center mt20 splash-standout standout">
    <a href="/forums">Or just have a look...</a>
</div>