@{
    ViewBag.Title = "Guidelines";
}

<div class="center-column">
    <div class="content-frame content-frame-unpadded mt20 mb10">
        
        <div class="pt20 pr20 pb10 pl20">
            <h2 class="pb10">About Us</h2>
            <p>Welcome to londonbikers.com, a community of people who love motorcycles. Launched in December 2004, by Jay Van der Zant as a place to share and discuss experiences of riding a motorcycle for people in and around London, UK.</p>
        </div>

        <hr class="compact" />

        <div class="pt10 pr20 pb20 pl20">

            <h2 class="pb10">Community Guidelines</h2>
            
            <p>As an open community we strive to foster an environment that's inviting, friendly and relaxed. Over the years we've learnt that at times there needed to be some guidelines put down as to what is and isn't acceptable.</p>
            
            <p>Please remember that these points are guidelines only. Specific member user activity may be governed as much by the spirit of these guidelines as any specific rule. Content, members or anything deemed clearly unrelated or purely spam may be deleted by the moderators.</p>
            
            <p><b>The general rule is pretty simple - be nice and treat others as you would like to be treated.</b></p>

            <h3 class="pt10 pb10">Unacceptable Content</h3>
            
            <ul>
                <li>Spam (as defined by moderator discretion) </li>
                <li>Anything illegal</li>
                <li>Harassment, or unfair treatment of any sort</li>
                <li>Racist, sexist, or discriminate</li>
                <li>Pornographic, mature in nature, or overly obscene</li>
                <li>Inflammatory, offensive or demeaning material that is NSFW</li>
                <li>Impersonating someone in a misleading or deceptive manner</li>
                <li>Posts deliberately attempting to start a flame war</li>
            </ul>
            
            <h3 class="pt10 pb10">Unacceptable Activity</h3>

            <ul>
                <li>Any attempt to break LB or anything that interferes with normal usage</li>
                <li>Bullying of any sort including threats, harassment, or encouraging others to do so</li>
                <li>Registering multiple accounts or dummy accounts</li>
                <li>Attempting to use LB in a way to publicly shame or embarrass users or otherwise</li>
            </ul>
            
            <h3 class="pt10 pb10">Please Do</h3>
            
            <ul>
                <li>Help if you can</li>
                <li>Remember that what's right for you might not be for someone else</li>
                <li>Respect that other people may have opinions that are different to yours</li>
                <li>Try and keep posts in the relevant forum otherwise we may have to move them</li>
            </ul>

            <p class="mt20">Please extend the same common courtesy and decency to all members on the site as you would in person. Keyboard warriors are not cool and definitely not welcome. We are a community of bikers, who like to meet and ride together, if you wouldn't say it in person, don't say it online.</p>

            <p>All moderator decisions are final.</p>
            
            <h3 class="pt10 pb10">Notify Us</h3>
            <p>To report spam or offensive/inappropriate content, please email us directly at <a href="mailto:moderators@londonbikers.com">moderators@londonbikers.com</a>.</p>
            
            <h3 class="pt10 pb10">Terms &amp; Conditions</h3>
            <p>By signing up to the site, whether that's directly or via third party identity providers such as Facebook or Google, you're agreeing to abide by our community guidelines. These guidelines are our terms. </p>

        </div>

    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/_shared")
}