<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=(local);database=LBV6_beta;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="TargetDatabaseName" value="LBV6_beta" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AttachmentStoreRoot" value="C:\Filestores\Beta" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LegacyAttachmentsFolder" value="C:\Users\root\Downloads\forum-files\forum-attachments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>