<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;database=LBV6;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LB.EnableRegistrationForumSpamCheck" value="true" />
    <add key="LB.EnableLessStrictUsernameValidation" value="true" />
    <add key="LB.EnableCaching" value="true" />
    <add key="LB.EnableIndexing" value="true" />
    <add key="LB.Url" value="https://localhost" />
    <add key="LB.Domain" value="localhost" />
    <add key="LB.EmailDeliveryEnabled" value="true" />
    <add key="LB.EmailMediaUrl" value="https://beta.londonbikers.com:444" />
    <add key="LB.GalleriesMediaUrl" value="https://beta.londonbikers.com:444/_gmedia" />
    <add key="LB.DebugEmailDelivery" value="true" />
    <add key="LB.DebugEmailAddress" value="jay@londonbikers.com" />
    <add key="LB.V6GoLiveDate" value="27 April 2015 17:37:00" />
    <add key="LB.ProhibitedUsernames" value="admin,contact,about,rules,change,account,forums,forum,londonbikers,users,profiles,shop,store" />
    <add key="LB.MediaRoot" value="G:\Media Stores\LBV6" />
    <add key="LB.RecentTopicsIndexSize" value="2500" />
    <add key="LB.DefaultPageSize" value="25" />
    <add key="AWS.SES.AccessKeyId" value="" />
    <add key="AWS.SES.SecretAccessKey" value="/" />
    <add key="Facebook.AppId" value="" />
    <add key="Facebook.Secret" value="" />
    <add key="Google.ClientId" value="" />
    <add key="Google.ClientSecret" value="" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="log4net.Internal.Debug" value="false" />
    <add key="OVH.OpenStack.Username" value="" />
    <add key="OVH.OpenStack.Password" value="" />
    <add key="OVH.OpenStack.ProjectId" value="" />
    <add key="OVH.OpenStack.ProjectRegion" value="" />
    <add key="OVH.OpenStack.FileContainer" value="Primary" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>