<div id="forum-top-nav" class="text-center v-shadow">
    <a href="/forums" class="sub-nav mr10">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Home
    </a>
    <a href="/forums/popular" class="sub-nav mr10">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        Popular
    </a>
    <a href="/forums/latest" class="sub-nav">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        Latest
    </a>
</div>