<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Source" connectionString="data source=(local);database=LBV6_production;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CoverPhotosBasePath" value="C:\Filestores\Object Store Download\Cover Photos" />
    <add key="ProfilePhotosBasePath" value="C:\Filestores\Object Store Download\Profile Photos" />
    <add key="PhotosBasePath" value="C:\Filestores\Object Store Download\Post Photos" />
    <add key="PrivateMessagePhotosBasePath" value="C:\Filestores\Object Store Download\Private Message Photos" />
    <add key="OVH.OpenStack.Password" value="" />
    <add key="OVH.OpenStack.Username" value="" />
    <add key="OVH.OpenStack.ProjectName" value="" />
    <add key="OVH.OpenStack.ProjectRegion" value="" />
  </appSettings>
</configuration>