@{
    Layout = null;
}

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div id="photo-swipe" class="pswp position-parent" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
    It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    
    <div id="pswp-edit-overlay" class="schemed position-xy-center">

        <div id="pswp-edit-overlay-head">
            <b>Edit Photo</b>
            <div class="fr">
                <button id="pswp-edit-overlay-close" type="button" class="close" title="Cancel" data-bind="click: CloseEditModal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
        </div>

        <div class="p20 text-center">

            <textarea id="pswp-edit-caption" class="form-control mw100pc" rows="3" placeholder="Caption..." data-bind="textInput: Photo().Caption"></textarea>
            <div class="mt10 mb40">
                <button class="btn btn-primary w100pc" data-bind="click: UpdateCaption, enable: !ProcessingAction()">Update</button>
            </div>

            <hr class="thin" />

            <div class="mt10">
                <button class="btn btn-danger w100pc" data-bind="click: DeletePhoto, enable: ChallengingPhotoDelete() && !DeletingPhoto() || !ChallengingPhotoDelete() && !ProcessingAction()">Delete Photo</button>
            </div>

        </div>

    </div>


    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!-- Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button id="pswp-edit-btn" class="pswp__button pswp__button--edit" title="Edit (E)" data-bind="visible: CanUserEditPhoto, click: ShowEditModal">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader-active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp-caption" data-bind="text: Photo().Caption"></div>
            </div>

        </div>

    </div>

</div>