<script type="text/html" id="post-controls-mobile">

    <div class="text-center">
        <button class="btn btn-default w130" style="display: none" data-bind="visible: !ShowingTopicUploader() && window._enablePhotoUploads, click: function() { ShowTopicUploader() }">
            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Add Photos
        </button>
        <button class="btn btn-default ml10 w130" style="display: none" data-bind="visible: ShowingTopicUploader(), click: function() { HideTopicUploader() }, enable: !Uploading()">
            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Cancel
        </button>
        <button class="btn btn-primary ml10 w130" data-bind="enable: ReadyToPostTopic() && !Posting(), click: SubmitNewTopic">
            Post Topic
        </button>
    </div>

</script>