<script type="text/html" id="forum-structure-desktop">
    
    <!-- ko foreach: Categories -->
    <table class="table mt10">
        <thead>
            <tr>
                <th class="category-name"><a href="#" data-bind="attr: { href: GetUrl }, text: Name"></a></th>
                <th class="lowlight w200">Stats</th>
                <th class="lowlight w200">Updated</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $data.Forums">
            <tr>
                <td class="forum-name"><b><a href="#" data-bind="attr: { href: GetUrl }, text: Name"></a></b></td>
                <td data-bind="html: GetFriendlyStats"></td>
                <td data-bind="html: GetFriendlyLastUpdated" nowrap="nowrap"></td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->
    
</script>